/*\\\\\\\\\\\\\\\\
\\\\\\ Шрифты \\\\\
\\\\\\\\\\\\\\\\\*/

/* Rubik 400/700/800 */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Raleway 800 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*\\\\\\\\\\\\\\\\
\\\ Общие стили \\\
\\\\\\\\\\\\\\\\\*/

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
  color: inherit;
}

.link--uppercase {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.link--phone {
  display: block;
  width: fit-content;
  padding-right: 15px;
  padding-left: 15px;
  transform: translateX(-15px);
  border-radius: 16px;
}

.link--phone:hover {
  color: #ffc700;
}

.link--phone:active {
  opacity: 0.3;
}

.link--phone:focus {
  outline: 2px solid #af4fff;
}

.link--phone:not(:focus-visible) {
  outline: none;
}

.link--phone:focus-visible {
  outline: 2px solid #af4fff;
}

.button {
  --button-after-color: #ffe17f;
  z-index: 1;
  position: relative;
  height: fit-content;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.button::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  height: 8px;
  background-color: var(--button-after-color);
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.page__main {
  flex-grow: 1;
}

/*\\\\\\\\\\\\\\\\
\\\\\ Обертки \\\\\
\\\\\\\\\\\\\\\\\*/
.page__centerer {
  width: 1160px;
  margin: 0 auto;
}

.main__double {
  display: grid;
  grid-template-columns: 600px 560px;
  margin-bottom: 72px;
}

/*\\\\\\\\\\\\\\\\
\\\ Шапка сайта \\\
\\\\\\\\\\\\\\\\\*/
.header {
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(40px, auto) minmax(50px, auto);
  row-gap: 20px;
  grid-template-areas:
    "search user"
    "nav nav";
  width: 1080px;
  padding: 79px 40px 1px 40px;
  color: #000000;
  background-image: linear-gradient(transparent 40px, #ffe17f 40px);
}

.header__index-link {
  position: absolute;
  left: 61px;
  top: 17px;
}

.header__search {
  grid-area: search;
}

.site-search {
  position: relative;
  box-sizing: border-box;
  width: 516px;
  height: 40px;
  margin-left: 3px;
}

.site-search__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.site-search__field {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px 170px 10px 0;
  padding-left: 52px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
}

.site-search__field::placeholder {
  color: #b39e59;
}

.site-search__field:hover::placeholder {
  color: #665a33;
}

.site-search__field:focus {
  border-color: #af4fff;
  outline: none;
}

.site-search__field:not(:placeholder-shown) {
  border-color: #000000;
  outline: none;
}

.site-search__button {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: 160px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #000000;
  background: none;
  background-color: #ffe17f;
  border: 2px solid #000000;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  cursor: pointer;
}

.site-search__button:hover {
  color: #ffffff;
  background-color: #000000;
}

.site-search__button:active {
  color: #4c4c4c;
}

.site-search__button:focus {
  border-color: #af4fff;
  outline: none;
}

.site-search__button:focus:not(:focus-visible) {
  border-color: #000000;
  outline: none;
}

.site-search__button:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.site-search__field:placeholder-shown + .site-search__button {
  display: none;
}

.header__user-menu {
  grid-area: user;
  margin: 0;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 18px;
  padding: 0;
  list-style-type: none;
}

.user-menu__item {
  text-align: center;
}

.user-menu__item:first-child {
  margin-right: auto;
}

.user-menu__link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  border-radius: 20px;
}

.user-menu__link:focus {
  outline: 2px solid #af4fff;
  outline-offset: -1px;
}

.user-menu__link:focus:not(:focus-visible) {
  outline: none;
}

.user-menu__link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: -1px;
}

.user-menu__link:hover {
  opacity: 0.6;
}

.user-menu__link:active {
  opacity: 0.3;
}

.user-menu__link--login {
  padding: 9px 23px 10px 45px;
  background: no-repeat url("../images/icons/user.svg") left 20px bottom 14px/13px 12px;
}

.user-menu__link--compare {
  padding: 9px 20px 10px 40px;
  background: no-repeat url("../images/icons/compare.svg") left 20px bottom 14px/10px 12px;
}

.user-menu__link--cart {
  position: relative;
  padding: 9px 20px 10px 42px;
  background: no-repeat url("../images/icons/cart.svg") left 17px bottom 14px/16px 14px;
}

.user-menu__link--cart::before {
  content: attr(data-amount);
  position: absolute;
  top: 8px;
  left: 2px;
  width: 21px;
  height: 21px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
  border-radius: 11px;
}

.header__navigation {
  grid-area: nav;
}

.site-navigation__list {
  display: grid;
  grid-template-columns: 540px repeat(3, 1fr);
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-navigation__item {
  justify-self: start;
}

.site-navigation__item:nth-child(3) {
  position: relative;
  left: -21px;
}

.site-navigation__item:nth-child(4) {
  position: relative;
  right: -14px;
}

.site-navigation__item--catalog {
  align-self: start;
  display: flex;
  justify-content: flex-start;
  grid-row: span 10;
}

.site-navigation__link {
  display: block;
  padding: 14px 17px 15px 20px;
  text-align: center;
  border-radius: 25px;
}

.site-navigation__link:focus {
  outline: 2px solid #af4fff;
  outline-offset: -2px;
}

.site-navigation__link:focus:not(:focus-visible) {
  outline: none;
}

.site-navigation__link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: -2px;
}

.site-navigation__link--normal {
  position: relative;
}

.site-navigation__link--normal::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 20px;
  right: 20px;
  display: none;
  border-bottom: 2px solid #000000;
}

.site-navigation__link--normal:hover::after {
  display: block;
}

.site-navigation__link--normal:active {
  opacity: 0.3;
}

.site-navigation__link--catalog {
  position: relative;
  padding-left: 20px;
  padding-right: 17px;
}

.site-navigation__link--catalog::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -50px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background: no-repeat url("../images/icons/plus.svg") center/16px 16px;
  border: 2px solid #000000;
  border-radius: 25px;
  opacity: 0.2;
}

.site-navigation__link--catalog:hover {
  opacity: 1;
}

.site-navigation__link--catalog:hover::after {
  background: no-repeat url("../images/icons/minus.svg") center/16px 16px;
  opacity: 1;
}

.site-navigation__link--catalog:active {
  opacity: 0.3;
}

.site-navigation__dropdown {
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-dropdown {
  display: flex;
  align-items: flex-start;
  width: 1115px;
  padding: 29px 0 42px 45px;
  background-color: #ffe17f;
}

.catalog-dropdown__item {
  margin-right: 15px;
}

.catalog-dropdown__item:nth-child(3) {
  margin-left: 14px;
}

.catalog-dropdown__nested {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-dropdown__nested li {
  width: fit-content;
  margin-bottom: 9px;
}

.catalog-dropdown__link {
  display: block;
  padding: 4px 16px 5px 15px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 25px;
}

.catalog-dropdown__link:focus {
  outline: 2px solid #af4fff;
  outline-offset: -2px;
}

.catalog-dropdown__link:not(:focus-visible) {
  outline: none;
}

.catalog-dropdown__link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: -2px;
}

.catalog-dropdown__link:hover {
  opacity: 0.6;
}

.catalog-dropdown__link:active {
  opacity: 0.3;
}

/*\\\\\\\\\\\\\\\\
\\\\\ Главная \\\\\
\\\\\\\\\\\\\\\\\*/

/* Популярные товары */
.main__popular {
  margin-bottom: 70px;
}

.popular {
  overflow-y: hidden; /* Временное свойство */
  position: relative;
  width: 1160px;
  height: 560px;
  background-image: linear-gradient(#ffe17f 150px, transparent 150px);
}

.popular__buttons {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 560px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
}

.slider-controls__button {
  width: 40px;
  height: 80px;
  background: none;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.slider-controls__button:focus {
  outline: 2px solid #af4fff;
  outline-offset: -2px;
}

.slider-controls__button:not(:focus-visible) {
  outline: none;
}

.slider-controls__button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: -2px;
}

.slider-controls__button:hover {
  opacity: 0.6;
}

.slider-controls__button:active {
  opacity: 0.3;
}

.slider-controls__button--previous {
  background: no-repeat url("../images/icons/left-tall-arrow.svg") center / 20px 60px;
}

.slider-controls__button--next {
  background: no-repeat url("../images/icons/right-tall-arrow.svg") center / 20px 60px;
}

.popular__pagination {
  z-index: 1;
  position: absolute;
  top: 365px;
  right: 60px;
  margin: 0;
}

.dot-pagination {
  display: flex;
  column-gap: 22px;
  padding: 0;
  list-style-type: none;
}

.dot-pagination__button {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0;
  background: none;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 6px;
  cursor: pointer;
}

.dot-pagination__button:hover {
  opacity: 0.6;
}

.dot-pagination__button:active {
  opacity: 0.3;
}

.dot-pagination__button:focus {
  border-color: #af4fff;
  outline: none;
}

.dot-pagination__button:not(:focus-visible) {
  border-color: #000000;
}

.dot-pagination__button:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.dot-pagination__button--current {
  background-color: #000000;
}

.popular__list {
  transform: translateY(0);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product {
  position: relative;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 560px 560px;
  grid-template-rows:
    minmax(250px, auto)
    minmax(96px, auto)
    minmax(104px, auto)
    minmax(110px, auto);
  grid-template-areas:
    "image slogan"
    "image info"
    "image button"
    "image specs";
  column-gap: 40px;
  justify-items: start;
  width: 1160px;
  height: 560px;
}

.product::after {
  content: attr(data-popular-counter);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 890px;
  display: block;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 180px;
  line-height: 194px;
  color: #ffffff;
}

.product__image {
  grid-area: image;
  display: block;
  max-width: 100%;
  height: auto;
}

.product__slogan {
  grid-area: slogan;
  align-self: end;
  margin-bottom: 28px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.product__info {
  grid-area: info;
  align-self: start;
  margin: 0;
  color: #444444;
}

.product__button {
  grid-area: button;
  padding: 14px 36px 15px 39px;
}

.product__button:hover::after {
  height: 100%;
  background-color: var(--button-after-color);
}

.product__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.product__button:focus {
  outline: none;
}

.product__button:focus::after {
  background-color: #af4fff;
}

.product__button:focus:not(:focus-visible)::after {
  background-color: var(--button-after-color);
}

.product__button:focus-visible {
  outline: none;
}

.product__button:focus-visible::after {
  background-color: #af4fff;
}

.product__specs {
  border-spacing: 0;
}

.product__specs tbody {
  display: flex;
  column-gap: 21px;
}

.product__specs tr {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}

.product__specs td {
  padding: 0;
}

.product__spec-key {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.product__spec-value {
  order: -1;
  font-size: 36px;
  line-height: 30px;
}

/* Категории */
.main__categories {
  margin-bottom: 81px;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 160px;
  padding-top: 193px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.categories__link::before,
.categories__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

.categories__link::before {
  background-color: #ffe17f;
}

.categories__link::after {
  background-repeat: no-repeat;
}

.categories__link--vr::after {
  background-image: url("../images/icons/category-virtual-reality.svg");
  background-size: 97px 55px;
  background-position: 32px 53px;
}

.categories__link--monopods::after {
  background-image: url("../images/icons/category-monopods.svg");
  background-size: 86px 117px;
  background-position: bottom;
}

.categories__link--cameras::after {
  background-image: url("../images/icons/category-action-cameras.svg");
  background-size: 71px 87px;
  background-position: 49px 38px;
}

.categories__link--bracelets::after {
  background-image: url("../images/icons/category-fitness-bracelets.svg");
  background-size: 107px 65px;
  background-position: 26px 50px;
}

.categories__link--watches::after {
  background-image: url("../images/icons/category-watches.svg");
  background-size: 56px 98px;
  background-position: 53px 31px;
}

.categories__link--drones::after {
  background-image: url("../images/icons/category-drones.svg");
  background-size: 132px 69px;
  background-position: 14px 49px;
}

.categories__link:hover::before {
  background-color: #ffc700;
}

.categories__link:focus {
  outline: none;
}

.categories__link:focus span {
  color: #af4fff;
}

.categories__link:not(:focus-visible) span {
  color: inherit;
}

.categories__link:focus-visible span {
  color: #af4fff;
}

.categories__link:focus::before {
  outline: 5px solid #af4fff;
}

.categories__link:not(:focus-visible)::before {
  outline: none;
}

.categories__link:focus-visible::before {
  outline: 5px solid #af4fff;
}

.categories__link:active::after {
  opacity: 0.3;
}

.categories__link:active span {
  opacity: 0.3;
}

/* Услуги */
.main__services {
  margin-bottom: 90px;
}

.services {
  overflow: hidden;
  height: 319px;
  padding-bottom: 69px;
  background-image: linear-gradient(transparent 100px, #f0f0f0 100px);
}

.services__grid {
  display: grid;
  grid-template-columns: 284px 760px;
  column-gap: 116px;
}

.services__toggle-list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
  height: fit-content;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 69px;
  border-right: 7px solid #000000;
  list-style-type: none;
}

.services__toggle-button {
  min-width: 164px;
  padding: 9px 0 10px 0;
  border: none;
}

.services__toggle-button::after {
  width: 160px;
  background-color: #ffc700;
}

.services__toggle-button:hover::after {
  height: 100%;
  background-color: #ffc700;
}

.services__toggle-button:focus {
  outline: none;
}

.services__toggle-button:focus::after {
  background-color: #af4fff;
}

.services__toggle-button:not(:focus-visible)::after {
  background-color: #ffc700;
}

.services__toggle-button:focus-visible::after {
  background-color: #af4fff;
}

.services__toggle-button--current {
  color: #ffe17f;
}

.services__toggle-button--current::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: -117px;
  bottom: 0;
  left: 0;
  background-color: #000000;
}

.services__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services__item {
  display: grid;
  grid-template-rows: 121px 185px;
  row-gap: 33px;
  padding-right: 275px;
  background-repeat: no-repeat;
}

.services__item--delivery {
  background-image: url("../images/icons/service-delivery.svg");
  background-position: 558px 85px;
  background-size: 136px 164px;
}

.services__item--warranty {
  background-image: url("../images/icons/service-warranty.svg");
  background-position: 543px 61px;
  background-size: 171px 195px;
}

.services__item--loan {
  background-image: url("../images/icons/service-loan.svg");
  background-position: 534px 61px;
  background-size: 156px 188px;
}

.services__title {
  margin: 0;
  align-self: end;
}

.services__info {
  margin: 0;
  color: #444444;
}

/* Доставка */
.main__delivery {
  margin-bottom: 97px;
}

.delivery {
  color: #000000;
  background-color: #f0f0f0;
}

.delivery__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-left: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ffe17f 125px, #f0f0f0 125px);
}

.delivery__button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 125px;
  height: 100px;
  background: no-repeat url("../images/icons/delivery.svg") 39px 35px / 47px 31px;
}

.delivery__button::after {
  content: "";
  position: absolute;
  right: 33px;
  width: 40px;
  height: 40px;
  background: no-repeat url("../images/icons/info.svg") center / 2px 12px;
  background-color: #dcdcdc;
  border-radius: 20px;
  opacity: 0.5;
}

.delivery__button:focus {
  outline: 5px solid #af4fff;
  outline-offset: -1px;
}

.delivery__button:not(:focus-visible) {
  outline: none;
}

.delivery__button:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: -1px;
}

.delivery__button:hover {
  background-image: linear-gradient(to right, #ffc700 125px, #f0f0f0 125px);
}

.delivery__button:hover::after {
  opacity: 1;
}

.delivery__button:active::before,
.delivery__button:active span {
  opacity: 0.3;
}

.delivery__button:active::after {
  opacity: 0.5;
}

/* О нас */
.about {
  position: relative;
  padding-top: 50px;
  padding-right: 138px;
}

.about__title {
  margin: 0;
  margin-bottom: 45px;
}

.about__info {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
}

.about__info:last-of-type {
  margin-bottom: 75px;
}

.about__companies-list {
  margin: 0;
  padding: 0;
  margin-bottom: 68px;
  list-style-type: none;
}

.about__companies-item {
  margin-bottom: 20px;
  padding-left: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  background: no-repeat url("../images/icons/list-bullet.svg") 1px center / 8px 8px;
}

.about__companies-item:last-child {
  margin-bottom: 0;
}

.about__companies-item p {
  margin: 0;
}

.about__button {
  padding: 14px 17px 15px 18px;
}

/* Контакты */
.contacts {
  position: relative;
  padding-top: 50px;
  padding-right: 45px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 45px;
}

.contacts__info {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts__address {
  margin-bottom: 30px;
  font-style: normal;
  color: #444444;
}

.contacts__address-text {
  margin: 0;
}

.contacts__phone {
  text-decoration: underline;
}

.contacts__schedule {
  margin: 0;
  padding: 0;
  margin-bottom: 63px;
  color: #444444;
  list-style-type: none;
}

.contacts__button {
  padding: 14px 33px 15px 34px;
}

/* Состояния кнопок "О нас" и "Контакты" */
.about__button:hover::after,
.contacts__button:hover::after {
  height: 100%;
  background-color: var(--button-after-color);
}

.about__button:active,
.contacts__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.about__button:focus,
.contacts__button:focus {
  outline: none;
}

.about__button:focus::after,
.contacts__button:focus::after {
  background-color: #af4fff;
}

.about__button:focus:not(:focus-visible)::after,
.contacts__button:focus:not(:focus-visible)::after {
  background-color: var(--button-after-color);
}

.about__button:focus-visible,
.contacts__button:focus-visible {
  outline: none;
}

.about__button:focus-visible::after,
.contacts__button:focus-visible::after {
  background-color: #af4fff;
}


/* Декоративная линия над "О нас" и "Контакты" */

.about::before,
.contacts::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: 0;
  left: 0;
}

/* Форма рассылки */
.subscription {
  padding-top: 75px;
  padding-bottom: 135px;
  background-color: #f0f0f0;
}

.subscription_grid {
  display: grid;
  grid-template-columns: 600px 260px 300px;
  grid-template-rows: minmax(160px, auto) 55px;
  grid-template-areas:
    "title info info"
    "form form misc";
}

.subscription__title {
  grid-area: title;
  margin: 0;
  padding-bottom: 59px;
}

.subscription__info {
  grid-area: info;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 59px;
  color: #444444;
}

.subscription__form {
  grid-area: form;
}

.email-form {
  display: flex;
  justify-content: stretch;
}

.email-form__field {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #d8d8d8;
}

.email-form__button {
  min-height: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: #f0f0f0;
  border: 3px solid #d8d8d8;
}

.subscription__misc-info {
  grid-area: misc;
  justify-self: end;
  align-self: center;
  color: #444444;
}

/*\\\\\\\\\\\\\\\\
\\\\ Внутренняя \\\
\\\\\\\\\\\\\\\\\*/

/* Шапка внутренней */
.inner-header {
  box-sizing: border-box;
  padding: 74px 0 49px 60px;
  font-size: 16px;
  line-height: 19px;
  background-image: linear-gradient(#ffe17f 37px, transparent 37px);
}

.inner-header__title {
  margin: 0;
  margin-bottom: 24px;
}

.inner-header__breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs__item {
  margin-right: 35px;
}

.breadcrumbs__link {
  opacity: 0.6;
}

/* Каталог */
.catalog {
  font-size: 16px;
  line-height: 19px;
  background-color: #ebebeb;
}

.catalog__grid {
  display: grid;
  grid-template-columns: 328px 832px;
  padding-bottom: 72px;
}

.catalog__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Фильтр */
.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #ebebeb;
}

.filters__title-container {
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  min-height: 70px;
  width: 328px;
  margin-bottom: 69px;
  padding: 25px 0 0 60px;
}

.filters__title-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: #dcdcdc;
}

.filters__title {
  margin: 0;
}

.filters__label {
  font-size: 16px;
  line-height: 19px;
}

.filters__group {
  position: relative;
  box-sizing: border-box;
  width: 328px;
  margin: 0;
  padding: 14px 69px 0 60px;
  border: 0;
}

.filters__group::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 200px;
  border-top: 2px solid #000000;
}

.filters__legend {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filters__sliders {
  margin-bottom: 34px;
}

.range-sliders {
  display: grid;
  grid-template-rows: 25px 19px;
}

.range-sliders__container {
  display: flex;
}

.range-sliders__label {
  display: flex;
  flex-wrap: nowrap;
  font-size: 15px;
  line-height: 18px;
  color: #a5a5a5;
}

.range-sliders__input {
  width: 100%;
  color: inherit;
  background: none;
  border: none;
}

.filters__input-list {
  margin: 0;
  padding: 0;
  padding-bottom: 44px;
  list-style-type: none;
}

.filters__input-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 21px;
}

.filters__input-item:last-child {
  padding-bottom: 0;
}

.filters__label--checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.filters__label--radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 20px;
}

.filters__button {
  align-self: start;
  width: 199px;
  margin-left: 60px;
}

/* Сортировка */
.sorting {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  min-height: 70px;
  padding-left: 72px;
  background-color: #ebebeb;
}

.sorting__title {
  margin: 0;
  margin-right: 44px;
}

.selection {
  position: relative;
  padding: 3px 34px 4px 9px;
  user-select: none;
}

.selection__summary {
  list-style-type: none;
}

.selection__summary::after {
  content: ">";
  z-index: 1;
  position: absolute;
  right: 8px;
}

.selection[open] .selection__summary::after {
  content: "v";
}

.selection__options {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.selection__option {
  display: block;
  width: 100%;
  padding: 3px 0 4px 9px;
  text-decoration: none;
  color: inherit;
  background-color: #dcdcdc;
}

.selection__option:last-child {
  margin-bottom: 0;
}

.selection__option:hover {
  background-color: #c7c7c7;
}

.sorting__order {
  padding: 0;
  margin-left: auto;
}

/* Список товаров */
.catalog__products {
  margin-bottom: 51px;
}

.products {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  box-sizing: border-box;
  width: 832px;
}

.products__list {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  justify-items: end;
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  padding-top: 69px;
  padding-left: 72px;
  list-style-type: none;
}

.products__list::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: -200vw;
  height: calc(100% + 150px);
  width: 100vw;
  box-shadow: 200vw 0 0 0 #ffffff;
}

.products__card {
  position: relative;
  width: 360px;
  min-height: 462px;
}

.card__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.card__text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.card__price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.card__button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 360px;
  height: 100%;
  padding-bottom: 82px;
  background: none;
}

.card__button span {
  width: 100%;
}

.card__new {
  position: absolute;
  top: 27px;
  right: 27px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.products__more-button {
  z-index: 2;
  justify-self: end;
  box-sizing: border-box;
  width: 760px;
  height: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 3px solid #e6e6e6;
}

/* Пагинация */
.pagination {
  position: relative;
  align-self: center;
  display: flex;
  align-items: stretch;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 760px;
  min-height: 70px;
  padding-left: 72px;
  background-color: #ffffff;
}

.pagination::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: -200vw;
  height: calc(100% + 72px);
  width: 100vw;
  box-shadow: 200vw 0 0 0 #ffffff;
}

.pagination__list {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 29px;
  padding-right: 29px;
  background-color: #ebebeb;
  list-style-type: none;
}

.pagination__button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.pagination__button--prev {
  margin-right: 220px;
}

.pagination__button--next {
  margin-left: 157px;
}

.pagination__link {
  color: #444444;
  opacity: 0.3;
}

/*\\\\\\\\\\\\\\\\
\\\ Футер сайта \\\
\\\\\\\\\\\\\\\\\*/
.footer {
  color: #ffffff;
  background-color: #444444;
}

.footer__container {
  position: relative;
  padding-top: 133px;
  padding-bottom: 61px;
}

.footer__grid {
  display: grid;
  grid-template-columns: 300px 560px 300px;
  grid-template-rows: minmax(38px, auto) minmax(40px, auto);
  grid-template-areas:
    "contacts services ."
    ". social devs";
  row-gap: 49px;
}

/* Логотип-ссылка */
.footer__index-link {
  position: absolute;
  top: 62px;
}

/* Адрес и телефон */
.footer__contacts {
  grid-area: contacts;
}

.footer__contacts-address {
  padding-right: 25px;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

.footer__contacts-text {
  margin: 0;
}

.footer__contacts-phone {
  position: absolute;
  right: 0;
  top: calc(133px + (1em / 2));
}

/* Наши предложения */
.footer__services {
  grid-area: services;
}

.services-mini__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 5px;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  list-style-type: none;
}

.services-mini__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Соцсети */
.footer__social {
  grid-area: social;
  justify-self: center;
}

.social-media__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-media__button {
  display: block;
  width: 40px;
  height: 40px;

  outline: 1px dashed #ffe17f; /* Временно */
  outline-offset: -1px; /* Временно */
}

/* Разработчики */
.footer__devs-link {
  grid-area: devs;
  justify-self: end;
}
