/*\\\\\\\\\\\\\\\\
\\\\\\ Шрифты \\\\\
\\\\\\\\\\\\\\\\\*/

/* Rubik 400/700/800 */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Raleway 800 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*\\\\\\\\\\\\\\\\
\\\ Общие стили \\\
\\\\\\\\\\\\\\\\\*/

/* По ТЕГАМ */
html {
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

/* По КЛАССАМ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline; /* Временно */
}

.link--uppercase {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.body__main {
  flex-grow: 1;
}

/*\\\\\\\\\\\\\\\\
\\\\\ Обертки \\\\\
\\\\\\\\\\\\\\\\\*/
.body__centerer,
.catalog__centerer,
.main__centerer,
.services__centerer,
.subscription__centerer,
.footer__centerer {
  width: 1160px;
  margin: 0 auto;
}

/*\\\\\\\\\\\\\\\\
\\\ Шапка сайта \\\
\\\\\\\\\\\\\\\\\*/
.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(40px, auto) minmax(50px, auto);
  row-gap: 20px;
  grid-template-areas:
    "search user"
    "nav nav";
  width: 1080px;
  padding: 79px 40px 0 40px;
  color: #000000;
  background-image: linear-gradient(transparent 40px, #ffe17f 40px);
}

.header__index-link {
  position: absolute;
  left: 61px;
  top: 17px;
}

.header__search {
  grid-area: search;
}

.header__user-menu {
  grid-area: user;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu__item {
  text-align: center;
}

.user-menu__item--login {
  margin-right: auto;
}

.user-menu__item--compare {
  margin-right: 20px;
}

.user-menu__link {
  display: block;
  font-size: 16px;
  line-height: 19px;
}

.user-menu__link--login {
  padding: 10px 21px 9px 45px;
}

.user-menu__link--compare {
  padding: 10px 19px 9px 39px;
}

.user-menu__link--cart {
  padding: 10px 20px 9px 42px;
}

.header__navigation {
  grid-area: nav;
}

.site-navigation__list {
  display: grid;
  grid-template-columns: 540px repeat(3, 1fr);
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__item--catalog {
  display: flex;
  justify-content: flex-start;
  grid-row: span 10;
  align-self: start;
}

.site-navigation__link {
  display: block;
  padding: 15px 18px 15px 18px;
  text-align: center;
}

.site-navigation__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 10;
}

.catalog-dropdown {
  display: flex;
  align-items: flex-start;
  width: 1115px;
  padding: 31px 0 52px 45px;
  background-color: #ffe17f;
}

.site-navigation__dropdown ul {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  list-style: none;
}

.site-navigation__dropdown li {
  margin-bottom: 9px;
}

.catalog-dropdown__link {
  display: block;
  padding: 3px 15px 5px 15px;
}

/*\\\\\\\\\\\\\\\\
\\\\\ Главная \\\\\
\\\\\\\\\\\\\\\\\*/

/* Популярные товары */
.popular__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: hidden; /* Временное свойство */
}

.product__slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.product__info {
  color: #444444;
}

.product__spec-key {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.product__spec-value {
  font-size: 36px;
  line-height: 30px;
}

.dot-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Категории */
.categories__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: -0.02em;
}

/* Предложения */
.services {
  background-color: #f0f0f0;
}

.services__toggle-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__info {
  color: #444444;
}

/* Доставка */
.delivery {
  color: #000000;
  background-color: #f0f0f0;
}

.delivery__button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* О нас */
.about__info {
  color: #444444;
}

.about__companies-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

/* Контакты */
.contacts__info {
  color: #444444;
}

.contacts__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts__address {
  font-style: normal;
  color: #444444;
}

.contacts__phone {
  text-decoration: underline;
}

.contacts__schedule {
  color: #444444;
}

/* Форма рассылки */
.subscription {
  background-color: #f0f0f0;
}

.subscription__info {
  color: #444444;
}

.email-form__button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: #f0f0f0;
}

.subscription__misc-info {
  color: #444444;
}

/*\\\\\\\\\\\\\\\\
\\\\ Внутренняя \\\
\\\\\\\\\\\\\\\\\*/

/* Общие для внутренней */
.inner-header {
  font-size: 16px;
  line-height: 19px;
}

.catalog {
  font-size: 16px;
  line-height: 19px;
  background-color: #ebebeb;
}

.catalog__title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  opacity: 0.6;
}

/* Каталог */
.catalog__grid {
  display: grid;
  grid-template-columns: 328px 832px;
}

/* Фильтр */
.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #ebebeb;
}

.filters__title {
  display: block;
  position: relative;
  min-height: 70px;
  width: 328px;
  z-index: 1;
}

.filters__title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  right: 0;
  background-color: #dcdcdc;
  z-index: -1;
}

.filters__group {
  width: 280px;
  align-self: end;
}

.filters__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filters__label--slider {
  font-size: 15px;
  line-height: 18px;
  color: #a5a5a5;
}

.filters__range-input {
  color: inherit;
}

.filters__button {
  width: 280px;
  align-self: end;
}

/* Сортировка */
.sorting {
  display: flex;
  align-items: center;
  min-height: 70px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #ebebeb;
}

/* Список товаров */
.products {
  display: grid;
  width: 800px;
  padding-top: 69px;
  justify-self: end;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.products__list {
  display: grid;
  position: relative;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  list-style: none;
  z-index: 1;
}

.products__list::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -69px;
  left: -200vw;
  height: calc(100% + 69px);
  width: 100vw;
  box-shadow: calc(200vw - 32px) 0 0 0 #ffffff;
}

.products__card {
  width: 360px;
  height: 506px;
  margin-left: 40px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.card__price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.card__new {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.products__more-button {
  width: 760px;
  justify-self: end;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}

/* Пагинация */
.pagination {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: center;
  width: 760px;
  min-height: 70px;
  margin-left: 72px;
  background-color: #ffffff;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
}

.pagination__button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.pagination__link {
  color: #444444;
  opacity: 0.3;
}

/*\\\\\\\\\\\\\\\\
\\\ Футер сайта \\\
\\\\\\\\\\\\\\\\\*/
.footer {
  color: #ffffff;
  background-color: #444444;
}

.footer__container {
  position: relative;
  padding-top: 133px;
  padding-bottom: 61px;
}

.footer__grid {
  display: grid;
  grid-template-columns: 300px 560px 300px;
  grid-template-rows: minmax(38px, auto) minmax(40px, auto);
  grid-template-areas:
    "contacts services ."
    ". social devs";
  row-gap: 49px;
}

/* Логотип-ссылка */
.footer__index-link {
  position: absolute;
  top: 62px;
}

/* Адрес и телефон */
.footer__contacts {
  grid-area: contacts;
}

.footer__contacts-address {
  padding-right: 25px;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

.footer__contacts-text {
  margin: 0;
}

.footer__contacts-phone {
  position: absolute;
  right: 0;
  top: calc(133px + (1em / 2));
}

/* Наши предложения */
.footer__services {
  grid-area: services;
}

.services-mini__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 5px;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  list-style: none;
}

.services-mini__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Соцсети */
.footer__social {
  grid-area: social;
  justify-self: center;
}

.social-media__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-media__button {
  display: block;
  width: 40px;
  height: 40px;

  outline: 1px dashed #ffe17f; /* Временно */
  outline-offset: -1px; /* Временно */
}

/* Разработчики */
.footer__devs-link {
  grid-area: devs;
  justify-self: end;
}
