/*\\\\\\\\\\\\\\\\
\\\\\\ Шрифты \\\\\
\\\\\\\\\\\\\\\\\*/

/* Rubik 400/700/800 */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Raleway 800 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*\\\\\\\\\\\\\\\\
\\\ Общие стили \\\
\\\\\\\\\\\\\\\\\*/

/* По ТЕГАМ */
html {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

/* По КЛАССАМ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
  color: inherit;
}

.link--uppercase {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/*\\\\\\\\\\\\\\\\
\\\\\ Обертки \\\\\
\\\\\\\\\\\\\\\\\*/
.page__centerer {
  width: 1160px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page__main {
  flex-grow: 1;
}

.footer-container {
  display: flex;
  flex-direction: row;
}

.footer-inner-container {
  display: flex;
  flex-direction: column;
}

.catalog-grid {
  display: grid;
  grid-template-columns: 328px 832px;
}

/*\\\\\\\\\\\\\\\\
\\\ Шапка сайта \\\
\\\\\\\\\\\\\\\\\*/
.header {
  color: #000000;
  background-color: #ffe17f;
}

.header__user-menu {
  width: 500px;
}

.user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu__item {
  text-align: center;
}

.user-menu__link {
  font-size: 16px;
  line-height: 19px;
}

.site-navigation__list {
  width: 500px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__item {
  text-align: center;
}


.site-navigation__link {
  font-size: 16px;
  line-height: 19px;
}

/*\\\\\\\\\\\\\\\\
\\\\\ Главная \\\\\
\\\\\\\\\\\\\\\\\*/

/* Популярные товары */
.popular__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: hidden; /* Временное свойство */
}

.product__slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.product__info {
  color: #444444;
}

.product__spec-key {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.product__spec-value {
  font-size: 36px;
  line-height: 30px;
}

.dot-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Категории */
.categories__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: -0.02em;
}

/* Предложения */
.services {
  background-color: #f0f0f0;
}

.services__toggle-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__info {
  color: #444444;
}

/* Доставка */
.delivery {
  color: #000000;
  background-color: #f0f0f0;
}

.delivery__button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* О нас */
.about__info {
  color: #444444;
}

.about__companies-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

/* Контакты */
.contacts__info {
  color: #444444;
}

.contacts__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts__address {
  font-style: normal;
  color: #444444;
}

.contacts__phone {
  text-decoration: underline;
}

.contacts__schedule {
  color: #444444;
}

/* Форма рассылки */
.subscription {
  background-color: #f0f0f0;
}

.subscription__info {
  color: #444444;
}

.email-form__button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: #f0f0f0;
}

.subscription__misc-info {
  color: #444444;
}

/*\\\\\\\\\\\\\\\\
\\\\ Внутренняя \\\
\\\\\\\\\\\\\\\\\*/

/* Общие для внутренней */
.main-inner {
  font-size: 16px;
  line-height: 19px;
}

.catalog-products {
  background-color: #ebebeb;
}

.catalog-inner-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  opacity: 0.6;
}

/* Фильтр */
.catalog-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #ebebeb;
}

.filter-title {
  display: block;
  position: relative;
  min-height: 70px;
  width: 328px;
  z-index: 1;
}

.filter-title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  right: 0;
  background-color: #dcdcdc;
  z-index: -1;
}

.catalog-filter-group {
  width: 280px;
  align-self: end;
}

.catalog-fieldset-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.range-slider-label {
  font-size: 15px;
  line-height: 18px;
  color: #a5a5a5;
}

.range-slider-input {
  color: inherit;
}

.filter-button {
  width: 280px;
  align-self: end;
}

/* Сортировка */
.catalog-sorting {
  display: flex;
  align-items: center;
  min-height: 70px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #ebebeb;
}

/* Список товаров */
.products {
  display: grid;
  width: 800px;
  padding-top: 69px;
  justify-self: end;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.product-list {
  display: grid;
  position: relative;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  list-style: none;
  z-index: 1;
}

.product-list::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -69px;
  left: -200vw;
  height: calc(100% + 69px);
  width: 100vw;
  box-shadow: calc(200vw - 32px) 0 0 0 #ffffff;
}

.product-card {
  width: 360px;
  height: 506px;
  margin-left: 40px;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.product-new {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.product-load-more {
  width: 760px;
  justify-self: end;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}

/* Пагинация */
.pagination {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: center;
  width: 760px;
  min-height: 70px;
  margin-left: 72px;
  background-color: #ffffff;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.pagination-link {
  color: #444444;
  opacity: 0.3;
}

/*\\\\\\\\\\\\\\\\
\\\ Футер сайта \\\
\\\\\\\\\\\\\\\\\*/
.footer {
  color: #ffffff;
  background-color: #444444;
}

/* Адрес и телефон */
.footer__contacts-address {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

/* Наши предложения */
.services-mini__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-mini__link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Давайте дружить */
.social-media__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
